/* Contact Part */
.contact-grid {
  grid-template-columns: 1fr 1fr;
  /* padding-bottom: 4.5rem; */
}

.contact-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.con-title {
  padding-top: 0;
}

.contact-box {
  width: 100%;
  row-gap: 1.5rem;
}

.contact-a {
  justify-content: center;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 550;
  display: flex;
  align-items: center;
  color: #111;
  transition: all 0.3s;
}

.contact-icon {
  width: 3.5rem;
  height: 3.5rem;
}

.fb:hover {
  color: #385898;
}

.insta:hover {
  color: #9b36b7;
}

.gmail:hover {
  color: red;
}

.linke:hover {
  color: #0072b1;
}

.contact-send {
  padding: 4rem 0rem;
}

.contact-right {
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0px 2px 10px 0px rgb(206, 195, 195);
}

.send-title {
  text-align: center;
  font-size: 2.5rem;
  border-bottom: 1px solid #dbb211;
  padding-bottom: 1.5rem;
}

input,
textarea {
  border: none;
  border-bottom: 1px solid #ced4da;
  padding: 1rem 1.5rem;
  font-size: 1.7rem;
  border-radius: 5px;
}

*:focus {
  outline: 2px solid #ffe16acb;
}

.upload {
  width: 100px;
  position: relative;
  margin: auto;
}

.upload img {
  border-radius: 50%;
  border: 6px solid #eaeaea;
}

.upload .round {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #00b4ff;
  width: 32px;
  height: 32px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.upload .round input[type="file"] {
  position: absolute;
  transform: scale(2);
  opacity: 0;
}

input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

.camera {
  padding-top: .3rem;
  margin: 0;
  width: 27px;
  height: 27px;
  stroke: white;
}

.contact-btn {
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 0;
  border-radius: 5px;
  background-color: #f4c613;
  color: #ffffff;
  font-size: 1.7rem;
  letter-spacing: 1.5px;
  transition: all 0.3s;
}

.contact-btn:hover {
  border: 1px solid #f4c613;
  cursor: pointer;
  background-color: #ffffff;
  color: #222;
}