/* Introduction part */
.intro-bg {
  height: 100vh;
  background-image: url(/Sequence\ 01.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.intro-part {
  height: 100%;
  max-width: 130rem;
  margin: 0 auto;
  position: relative;
}

/* .intro-img {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0%, -50%);
} */

.intro-text {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.7rem;
}

.intro-p {
  line-height: 2.5;
}

.intro-name {
  font-size: 8rem;
  padding-top: .5rem;
}

.intro-p-blue {
  color: #000000;
}
