/* Media quiries part */
/* 1400px below */
@media (max-width: 65.5em) {
  .nav-li {
    font-size: 1.5rem;
  }

  .intro-name {
    font-size: 6rem;
  }

  .about-title {
    font-size: 3.2rem;
  }

  .about-paragraph {
    font-size: 1.5rem;
  }

  .about-img {
    width: 30rem;
    height: 32rem;
  }

  .exp-title {
    font-size: 3.2rem;
  }

  .exp-skill {
    font-size: 1.7rem;
  }

  .exp-icon {
    width: 3.4rem;
    height: 3.4rem;
  }

  .contact-icon {
    width: 3.2rem;
    height: 3.2rem;
  }

  .contact-a {
    font-size: 1.6rem;
  }

  .footer-p {
    font-size: 1.4rem;
  }
}

/* 920px below media */
@media (max-width: 57.5em) {
  .intro-name {
    font-size: 5rem;
  }

  .intro-text {
    font-size: 2.3rem;
  }

  .about-align {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-text-box {
    padding: 3rem 3rem;
    height: 24rem;
    align-items: center;
  }

  .about-paragraph {
    font-size: 1.3rem;
    line-height: 1.2;
  }

  .about-bottom {
    padding-bottom: 7rem;
  }

  .about-img {
    width: 22rem;
    height: 24rem;
  }

  .about-title,
  .exp-title {
    font-size: 3rem;
  }

  .about-img-box {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .exp-skill {
    font-size: 1.5rem;
  }

  .exp-icon {
    width: 3.2rem;
    height: 3.2rem;
  }

  .exp-skill {
    margin: 0rem;
  }

  .edu-table {
    padding: 0rem 5rem 4rem 5rem;
  }

  .edu-title-in {
    font-size: 1.6rem;
  }

  .edu-title-in-sec {
    font-size: 1.4rem;
  }

  .edu-para {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .edu-title {
    font-size: 1.6rem;
  }

  .contact-right {
    width: 95%;
  }

  .contact-float {
    left: -15%;
  }

  .con-mid-tit {
    font-size: 2.5rem;
  }

  .con-mid-p {
    font-size: 1.4rem;
  }
  
  
  .contact-icon {
    width: 2.6rem;
    height: 2.6rem;
  }

  .contact-a {
    font-size: 1.3rem;
  }

  .send-title{
    font-size: 2.2rem;
  }

  input,
  textarea {
    padding: 1rem 1rem;
    font-size: 1.5rem;
  }

  .upload .round {
    width: 30px;
    height: 30px;
  }

  .camera {
    width: 25px;
    height: 25px;
  }

  .contact-btn {
    font-size: 1.5rem;
  }

  .cont {
    font-size: 1.5rem !important;
  }

  .last-modified {
    font-size: 1.5rem !important;
  }

  .footer-p {
    font-size: 1.2rem;
  }
}

/* Bellow 700px media */
@media (max-width: 45em) {
  .nav-li {
    font-size: 1.4rem;
  }

  .intro-name {
    font-size: 3.5rem;
  }

  .intro-text {
    font-size: 1.8rem;
  }

  .floating-messenger a{
    padding: 1rem;
  }

  .messenger-icon{
    width: 2.8rem;
    height: 2.8rem;
  }

  .about-title,
  .exp-title {
    font-size: 2.8rem;
  }

  .about-bottom {
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
  }

  .about-text-box {
    padding: 0rem 3rem;
    height: 22rem;
    margin: 2.4rem;
    align-items: center;
  }

  .about-paragraph {
    font-size: 1.4rem;
    line-height: 1.4;
  }

  .exp-skill {
    margin: 0rem;
  }

  .exp-skill-box {
    padding-bottom: 8rem;
  }

  .exp-skill-li{
    margin-left: 37%;
  }

  .edu-table {
    padding: 0rem 2rem 4rem 2rem;
  }

  .edu-title-in {
    font-size: 1.3rem;
  }

  .edu-title-in-sec {
    font-size: 1.3rem;
  }

  .edu-para {
    text-align: center;
  }

  .edu-para,
  .edu-title,
  .edu-title-two {
    border-bottom: 2px solid black;
  }

  .border-l {
    border-left: 2px solid black;
  }

  .border-t {
    border-top: 2px solid black;
  }

  .border-r {
    border-right: 2px solid black;
  }

  input,
  textarea {
    padding: 1rem 1rem;
    font-size: 1.3rem;
  }

  .upload .round {
    width: 27px;
    height: 27px;
  }

  .camera {
    width: 23px;
    height: 23px;
  }

  .contact-grid {
    width: 90%;
  }

  .con-title {
    font-size: 2.4rem;
  }

  .contact-title-p {
    font-size: 1.5rem;
  }

  .contact-right {
    width: 100%;
    padding: 2rem;
  }

  .contact-float {
    left: -17%;
    font-size: 1.6rem;
  }

  .con-mid-tit {
    font-size: 2.2rem;
  }

  .con-mid-p {
    font-size: 1.2rem;
  }

  .contact-icon {
    width: 1.8rem;
    height: 1.8rem;
  }

  .send-title{
    font-size: 1.8rem;
  }

  .contact-btn {
    font-size: 1.3rem;
  }

  .cont {
    font-size: 1.3rem !important;
  }

  .last-modified {
    font-size: 1.3rem !important;
  }

  .google-title {
    font-size: 1.6rem !important;
  }

  footer {
    padding: 2rem;
  }

  .footer-p {
    font-size: 1rem;
  }
}

@media (max-width: 37.5em) {
  .section-location {
    display: flex;
    flex-direction: column;
  }

  .loc-title {
    padding-top: 1.8rem !important;
  }

  .edu-title-in-sec {
    font-size: 1.2rem;
  }

  .contact-grid {
    width: 95%;
  }

  .contact-send {
    padding: 2rem .8rem;
  }

  .edu-title-in-sec {
    font-size: 1.2rem;
  }
}

/* Smartphone responsive */
@media (max-width: 31.3em) {
  .nav-ul {
    padding: 1rem 0;
    flex-direction: column;
    gap: 1rem;
  }

  .floating-messenger a{
    padding: .7rem;
  }

  .messenger-icon{
    width: 2rem;
    height: 2rem;
  }


  .intro-name {
    font-size: 2.5rem;
  }

  .intro-text {
    font-size: 1.4rem;
  }

  .contact-section {
    grid-template-columns: 1fr;
  }

  .con-title {
    padding: 2rem 0;
  }

  .contact-grid {
    width: 80%;
  }

  .contact-send {
    padding: 3rem 0rem;
  }

  .contact-left {
    border-bottom: 2px dotted gray;
  }

  .send-title {
    font-size: 1.7rem;
  }

  .about-title,
  .exp-title {
    font-size: 2.2rem;
  }

  .about-bottom {
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
  }

  .about-text-box {
    padding: 0rem 3rem;
    height: 30rem;
    margin: 2.4rem;
    align-items: center;
  }

  .exp-skill {
    margin: 0rem;
    grid-template-columns: 1fr;
  }

  .exp-skill-box {
    padding-bottom: 4rem;
  }

  input,
  textarea {
    padding: 1rem 1rem;
    font-size: 1.3rem;
  }

  .upload .round {
    width: 25px;
    height: 25px;
  }
  /* .default{
    width: 12.5rem;
    height: 12.5rem;
  } */

  .camera {
    width: 20px;
    height: 20px;
  }

  .contact-btn {
    font-size: 1.3rem;
  }

  .cont {
    font-size: 1.4rem !important;
  }

  .last-modified {
    font-size: 1.4rem !important;
  }

  .google-title {
    font-size: 1.3rem !important;
  }

  #get-location {
    font-size: 1.1rem !important;
    padding: 0.5rem 1rem !important;
  }

  .exp-icon {
    width: 2.8rem;
    height: 2.8rem;
  }

  .edu-para {
    font-size: 1rem;
    font-weight: 600;
  }

  .edu-table {
    padding: 0rem 0.3rem 4rem 0.3rem;
  }

  .edu-title {
    font-size: 1.3rem;
  }

  .edu-title-in-sec {
    font-size: 1.1rem;
    text-align: center;
  }

  .con-title {
    font-size: 2.4rem;
    padding: .3rem 0;
  }

  .contact-title-p {
    font-size: 1.2rem;
    padding-bottom: 2rem;
  }

  .contact-right {
    width: 100%;
    padding: 2rem;
  }

  .contact-float {
    left: -17%;
    top: 15%;
    font-size: 1.4rem;
  }

  .con-mid-tit {
    font-size: 2rem;
  }

  .contact-box {
    padding: 0rem 0rem 3.5rem 0rem;
  }

  .contact-icon {
    width: 2rem;
    height: 2rem;
  }

  .contact-a {
    font-size: 1.2rem;
  }
}

@media (max-width: 24.5em) {
  .intro-name {
    font-size: 1.8rem;
  }

  .intro-text {
    font-size: 1.2rem;
  }

  .about-img {
    width: 18rem;
    height: 18rem;
  }

  .about-paragraph {
    font-size: 1.04rem;
  }

  .about-text-box {
    padding: 0rem 3rem;
    height: 32.5rem;
    margin: 2.4rem;
    align-items: center;
  }

  .about-title,
  .exp-title {
    font-size: 2rem;
  }

  .exp-skill {
    font-size: 1.4rem;
  }

  .exp-icon {
    width: 3rem;
    height: 3rem;
  }

  input,
  textarea {
    padding: 1rem 0rem;
    font-size: 1.3rem;
  }

  .contact-right {
    padding: 2rem;
  }

  .upload {
    border: 1px solid #f4c613;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .default {
    width: 8rem;
    height: 8rem;
  }

  .cont {
    font-size: 1.2rem !important;
  }

  .last-modified {
    font-size: 1.2rem !important;
  }

  .footer-p {
    font-size: 0.84rem;
  }
}
