/* Media quiries part */
/* 1400px below */
@media (max-width: 65.5em) {
  .nav-li {
    font-size: 1.5rem;
  }

  .intro-name {
    font-size: 6rem;
  }

  .about-title {
    font-size: 3.2rem;
  }

  .about-paragraph {
    font-size: 1.5rem;
  }

  .about-img {
    width: 30rem;
    height: 32rem;
  }

  .exp-title {
    font-size: 3.2rem;
  }

  .exp-skill {
    font-size: 1.7rem;
  }

  .exp-icon {
    width: 3.4rem;
    height: 3.4rem;
  }

  .contact-icon {
    width: 3.2rem;
    height: 3.2rem;
  }

  .contact-a {
    font-size: 1.6rem;
  }

  .footer-p {
    font-size: 1.4rem;
  }
}

/* 920px below media */
@media (max-width: 57.5em) {
  .intro-name {
    font-size: 5rem;
  }

  .intro-text {
    font-size: 2.3rem;
  }

  .about-align {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-text-box {
    padding: 3rem 3rem;
    height: 24rem;
    align-items: center;
  }

  .about-paragraph {
    font-size: 1.3rem;
    line-height: 1.2;
  }

  .about-img {
    width: 22rem;
    height: 24rem;
  }

  .about-title,
  .exp-title {
    font-size: 3rem;
  }

  .about-img-box {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .exp-skill {
    font-size: 1.5rem;
  }

  .exp-icon {
    width: 3.2rem;
    height: 3.2rem;
  }

  .edu-table {
    padding: 0rem 5rem 4rem 5rem;
  }

  .edu-para {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .edu-title {
    font-size: 1.6rem;
  }

  .contact-icon {
    width: 3rem;
    height: 3rem;
  }

  .contact-a {
    font-size: 1.3rem;
  }

  .footer-p {
    font-size: 1.2rem;
  }
}
