* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  font-weight: 400;
  position: relative;
}

/* Header part */
.header {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.container{
  max-width: 130rem;
  margin: 0 auto;
}

/* grid */
.grid{
  display: grid;
}

.grid-2-col{
  grid-template-columns: repeat(2, 1fr);
}

.grid-4-col{
  grid-template-columns: repeat(4, 1fr);
}

/* //////////// */
/* .floating-messenger{
  padding: 1.15rem;
  background-color: #F4C613;
  border-radius: 50%;
  position: absolute;
  z-index: 999;
  bottom: 2.3rem;
  right: 2.3rem;
  position: fixed;
} */

.floating-messenger a{
  padding: 1.15rem;
  background-color: #F4C613;
  border-radius: 50%;
  position: absolute;
  z-index: 999;
  bottom: 2.3rem;
  right: 2.3rem;
  position: fixed;
}

.floating-messenger a:focus {
  outline: 0px;
}

.messenger-icon{
  color: #ffffff;
}